github "SnapKit/SnapKit" >= 5.0.0
github "jdg/MBProgressHUD" >= 1.1.0
github "SwiftyBeaver/SwiftyBeaver" >= 1.7.0
github "suzuki-0000/SKPhotoBrowser" >= 6.1.0
github "realm/realm-cocoa" >= 3.17.3
github "ReactiveX/RxSwift" ~> 5.0
github "tristanhimmelman/ObjectMapper" ~> 3.4
github "hackiftekhar/IQKeyboardManager" ~> 6.4.1
github "banchichen/TZImagePickerController" ~> 3.2.1

#github "soffes/Crypto" >= 0.5.0				
#github "hemantasapkota/SwiftStore" >= 3.0.0
#github "facebook/AsyncDisplayKit"
#github "ReactiveCocoa/ReactiveCocoa"
#github "Mantle/Mantle"
#github "ViccAlexander/Chameleon"
#github "rs/SDWebImage"
#github "facebook/pop"
#github "xmartlabs/Eureka"
#github "hyperoslo/Sugar"					 
#github "mattt/Surge"		
